/target/
/*.project
/.settings
/.classpath
*.class

# Package Files #
*.war
*.ear
*.DS_Store
.classpath
.project
*bin
*logs
.idea/
*.idea/workspace.xml
build/
deploy/
/binclasses
/.gradle/
portal-bheem.iml
myairtelapp-backend.iml
out/
/test-output